* {
    /* font-size: large; */
    font-family: sans-serif;
    /* padding: 0px; */
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.logo {
    font-size: 18px;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    margin: 0;
    /* background-color: rgb(12, 27, 69); */
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-radius: .5rem;
    padding-inline: 2rem 3rem;
    align-items: center;
    background-color: rgb(6, 7, 38);
}

.hdr_ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    overflow: hidden;
}

.hdr_li {
    float: right;
}

.hdr_li a{
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.hdr_li a:hover{
    /* color: beige; */
    border-radius: .5rem;
    background-color: rgb(105, 103, 103);
}
.active {
    background-color: rgb(147, 66, 66);
}

.back1 {
    background-image: url("assets/nattu-adnan-atSUvc1hMwk-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.self_photo {
    display: flex;
    margin: 2rem;
    float: right;
    border-radius: .5rem;
    height: 400px;
}

.back2 {
    background-image: url("assets/donna-elliot-dwXNSRmxHQY-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    display: block;
}

.absect {
    background-color: aliceblue;

}

.index-main {
    margin: 2rem 3rem;
}

.index-main #title {
    display: flex;
    color: aliceblue;
    padding-inline: 2rem;
    background-color: rgb(6, 7, 38, 0.8);
    border-radius: .5rem;
}

blockquote {
    display: flex;
    margin: 2rem 3rem;
    background-color: rgb(17, 189, 189, .90);
    border-radius: .5rem;
    padding-inline: 2rem;

}