* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
}

main {
    margin-bottom: auto;
}

.logo {
    font-size: 18px;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-radius: .5rem;
    padding-inline: 2rem 3rem;
    align-items: center;
    background-color: rgb(6, 7, 38);
}

.hdr_ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    overflow: auto;
}

.hdr_li a {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.hdr_li a:hover{
    color: rgb(90, 89, 89);
    height: 2px;
    text-decoration: underline;
    text-decoration-color: rgb(143, 142, 142);
    text-decoration-thickness: 2px;
    transition: 0.7s;
}

.active {
    background-color: rgb(147, 66, 66);
}

.back1 {
    background-image: url("assets/nattu-adnan-atSUvc1hMwk-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.index-title {
    display: flex;
    color: aliceblue;
    justify-content: space-evenly;
    margin: 2rem;
    background-color: rgb(6, 7, 38, 0.8);
    border-radius: .5rem;
}

.index-title #title {
    display: flex;
    position: left;
    padding: 2em 0;
    font-size: 5vh;
    text-align: center;
    margin: 10% 0;
    color: aliceblue;
}

.self_photo {
    display: inline-block;
    margin: 2rem;
    border-radius: .5rem;
    height: 50vh;
    position: right;
}

.index-main {
    margin: 2rem;
    background-color: rgb(13, 56, 94);
    padding: 2rem;
    font-size: 20px;
    color: aliceblue;
    border-radius: .5rem;
}

.back2 {
    background-image: url("assets/donna-elliot-dwXNSRmxHQY-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.back3 {
    background-image: url("assets/karsten-winegeart-6NAbqcv3fpg-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.back4 {
    background-image: url("assets/nattu-adnan-atSUvc1hMwk-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact_main {
    background-color:  rgb(15, 47, 76, .8);
    height: 80vh;
    margin: 2rem;
    border-radius: .5rem;
}

#contact_title {
    font-size: 2em;
    color: aliceblue;
    text-transform: uppercase;
    padding: 2em 0em 0em 3em;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    font-size: 25px;
}

form > label {
    color: aliceblue;
    text-decoration: underline solid;
}

.fields {
    width: 100%;
    font-size: 25px;
}

#submit_btn {
    width: 50%;
    align-self: center;
    height: 3em;
    margin: 2em;
    color: aliceblue;
    background: linear-gradient(to left top, rgb(20, 19, 84), rgb(18, 104, 169));
    border-radius: .5em;
    text-transform: uppercase;
    font-size: 15px;
}

#submit_btn:hover {
    background: linear-gradient(to right top, rgb(64, 58, 233), rgb(18, 104, 169));;
}

section {
    display: block;
}

.absect {
    background-color: rgb(15, 47, 76, .8);
    margin: 2rem;
    border-radius: .5rem;
    padding: 1rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.absect img {
    float: right;
    margin: 15px;
    padding: 1px;
    height: 120px;
}

#about {
    font-size: 45px;
    text-align: center;
}

#intro {
    font-size: 24px;
}

#intro_desc {
    font-size: 18px;
}

#scuba-img {
    margin: 0 1rem 1rem 1rem;
    display: inline-block;
    height: 10vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
    background-color: rgb(6, 7, 38);
    color: rgb(60, 91, 119);
    text-align: center;
}

footer a img {
    height: 6vh;
    padding: 8px;
}

#submissions_message {
    display: flex;
    height: 80vh;
    margin: 2rem;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    color: aliceblue;
    border-radius: .5rem;
    background-color: rgb(15, 47, 76, .8);
}


@media screen and (max-width: 1024px){
    .index-title {
        flex-direction: column;
        align-items: center;
    }
    
    .index-title img {
        height: 25vh;
    }

    .index-title #title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 675px){
    .hdr_ul {
         padding: 5%;
    }
}

@media screen and (max-width: 480px){
   .hdr_ul {
        padding: 5%;
   }
}
